/* Estilos para el contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

/* Estilos para el botón del dropdown */
.dropdownButton {
  background-color: #b07c83;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* Estilos para el contenido del dropdown */
.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  padding: 8px;
  border: 1px solid #ced4da;
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Estilos para los enlaces del dropdown */
.dropdownContent a {
  color: white;
  text-decoration: none;
  padding: 4px;
  cursor: pointer;
}

/* Estilos para los enlaces del dropdown al pasar el cursor por encima */
.dropdownContent .enlace:hover {
  background-color: #e9ecef;
  color: black;
  font-weight: bold;
  transition: 500ms;
}
